.navbar {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
}

.brand {
  font-size: 1.2em;
  color: black;
  text-decoration: none;
  span {
    font-weight: 900;
    text-transform: uppercase;
  }
}

.navbar__list {
  display: flex;
  list-style: none;
  gap: 1em;
  a {
    padding: 0.4em 0.6em;
    display: block;
    text-decoration: none;
    color: black;
  }
  .active {
    background-color: black;
    color: white;
  }
  button{
    background-color: transparent;
    padding: .5rem 0 0;
    border: none;
    cursor: pointer;
    border-radius: 0.2em;
    text-decoration: underline;
  }
}
