.posts{
}

.posts :global(.button:not(.button--post)){
    display: table;
    margin: .5rem auto;
}

.noPosts{
    text-align: center;
    margin-top: 1rem;
}

.posts__grid{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}