* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style-position: inside;
}
a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}
section,
header,
footer,
article,
figure,
figcaption,
aside,
img,
nav {
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
.container {
  min-height: 60vh;
  margin-bottom: 5em;
}
