* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style-position: inside;
}
a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}
section,
header,
footer,
article,
figure,
figcaption,
aside,
img,
nav {
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
.container {
  min-height: 60vh;
  margin: 2rem auto 5em;
  max-width: 80%;
  width: 1200px;
}

.button {
  background-color: #1a8918;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  min-width: 120px;
  text-align: center;
  font-weight: 700;
  border: 0;
  padding: 10px 15px;
}
.button--dark {
  background-color: #1a8918;
  border-radius: 0;
}
.button--outline {
  background-color: transparent;
  border: solid 1px #1a8918;
  color: #1a8918;
  border-radius: 0;
}
.button:hover {
  background-color: #0f730c;
  color: white;
}
.button--outline:hover {
  background-color: black;
}

.button--danger:hover {
  background-color: #dc3545;
}

form {
  max-width: 40%;
  margin: 0 auto;
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    span {
      margin-bottom: 0.3em;
      font-weight: 700;
      text-align: left;
    }
  }
  input,
  textarea {
    border: none;
    border-bottom: solid 1px #ccc;
    padding: 0.8em 0;
    background-color: transparent;
    outline: none;
  }
  ::placeholder {
    color: #aaa;
  }

  button {
  }
}

.error {
  color: #721c24;
  background-color: #f8d74a;
  border: 1px solid #f5c6cb;
  padding: 5px;
  border-radius: 5px;
}
